@import '../scss/media';

.hotel{
  &-details{
    display: flex;
    padding: 6rem 4rem;
    font-size: 2rem;

    //on small screens
    @media screen and (max-width: $width-sm){
      //colapse
      flex-direction: column;
      //reduce padding
      //padding: 1rem;
    }
    //on very small screens move search to next row
    @media screen and (max-width: $width-xs) {
      padding: 4rem 2rem;
    }
    
  }

  &-desc{
    flex: 0 0 60%;
    margin-right: 6rem;
    padding: 3rem;
    background-color: var(--color-light-0);
    box-shadow: var(--box-shadow-2);

    //on small screens
    @media screen and (max-width: $width-sm){
      margin:0 0 6rem 0;
    }
    
  }

  &-reviews{
    position: relative;
    flex: 1;
    //background-color: green;
  }
}