/**
  MEDIA QUERIES remarks
  in media queries rem are not based on root font user defines
  in some browsers functionality does not works properly (according to Jonas)
  advised approach for expressing different screen sizes in media queries
  is to use em and static default font-size of 16px. This approach will take
  into account users that changed default fonts from 16 to larger/smaller.

  So to define breakpoints in your media query follow this process
  define breakpoints in px. Then divide breakpoint px / 16. This gives
  you em media query value to use. 

  Then set specific font-size on the root html element as perceantage (eg 50% = 8px = 1rem)
  Further in your CSS code use rem to express all dimensions knowing the fact that
  by default 100% default font-size is 16px, eg 1rem = 16px by default.
*/

//THIS PROJECT USES FLEXBOX 
//SIMPLE MEDIA QUERIES ARE PLACED in layout and component files
//HERE WE KEEP screen size variables.
//NOTE! you CANNOT use CSS variables in media-queries

//various screen sizes in em
//note! in media queries we use em
//but in all othes styles we use rem

//1280px/16 = 80em
$width-md: 80em;
//1024px/16
$width-sm: 64em;
//704px/16
$width-xs: 44em;
//480px/16
$width-ss: 30em;

