
/**
  UTILITY classes

*/

@import 'media';

.u-center{
  text-align: center;
}

.u-mb-md{
  margin-bottom: 1em;
}
.u-mb-lg{
  margin-bottom: 3em;
  @include responsive(sm){
    margin-bottom: 2rem;
  }
}
.u-mb-xl{
  margin-bottom: 6em;

  @include responsive(sm){
    margin-bottom: 3rem;
  }
}

.u-flex-row{
  display: flex;
}

.u-no-select{
  user-select: none; 
}