
@import '../scss/media';

.side{
  //keep it on 18% ratio
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-dark-1);

  @media screen and (max-width: $width-sm){
    flex:none;
  }


  //ul element
  &-menu{
    position: relative;
    list-style: none;
    font-size: 2rem;
    margin-top: 4rem;

    //on small screens 
    @media screen and (max-width: $width-sm){
      //place menu horizontally
      display: flex;
      //remove margin
      margin-top:0;
    }

  }  
  //li elements
  &-menu-item{
    //display: flex;
    position: relative;
    //align-items: center;
    display: flex;
    padding: 2rem;
    color: var(--color-light-1);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    //on large screens
    @media screen and (min-width: $width-md ){
      
      //add bottom margin
      &:not(:last-child){
        margin-bottom: 1rem;
      }
    }    

    //on small screens place menu horizontally 
    @media screen and (max-width: $width-sm){
      //remove margin;
      margin-bottom:0;
      //expand items to max
      flex:1;
    }
    //on very small screens
    @media screen and (max-width: $width-xs){
      //decrease padding
      padding: 1rem;
      align-items: center;
      justify-content: center;
    }
  }

  .router-link-exact-active{
    background-color: var(--color-primary);
    cursor: default;
  }

  //animation
  &-menu-item::after{
    //pseudo needs element 
    content: "";
    //set position on parent element
    //in this case this is menu-item
    //note! pseudo element before/after is child of its elemet
    position: absolute;
    top: 0; left:0;
    height:100%;
    width: 1rem;
    background-color: var(--color-primary);
    transform: scaleY(0);
    //change default origin position (center)
    transform-origin: bottom;
    //note! second needs delay to wait for fitsone to complete
    transition: transform .3s,
                width .3s cubic-bezier(1,0,0,1) .3s;

    opacity:.5;
    z-index:0;
  }

  //on hover on menu item
  //apply styles on before pseudo element
  &-menu-item:hover:not(.router-link-exact-active)::after{
    transform: scaleY(1);
    width: 100%;
  }

  &-menu-link{
    position: relative;
    display: flex;
    z-index: 1;

    //on very small screens
    @media screen and (max-width: $width-xs){
      //place icon and text in columns
      flex-direction: column;
      align-items: center;
    }
  }

  //svg element
  &-menu-icon{
    width: 3rem;
    height: 3rem;
    margin-right: 3rem;
    //use color from the parent!
    //in this case menu-link
    fill: currentColor;
    //on very small screens
    @media screen and (max-width: $width-xs){
      //remove margin
      margin: 1rem;
    }
    
  }

  //div at the bottom
  &-copyright{
    font-size: 1.5rem;
    padding: 2rem;


    @media screen and (max-width: $width-sm){
      display:none;
    }

  }

}